body{
    color: rgb(251, 249, 249);
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img1{
    width: 15%;
    position: absolute;
    left: 15%;
    padding-top: 40px;
}
.img2{
    width: 15%;
    position: absolute;
    right: 15%;
    padding-top: 40px;
}

.btn{
    position: absolute;
    bottom: 35%;
    right: 48%;
}
.p1{
    position: absolute;
    left: 20%;  
}

.p2{
    position: absolute;
    right: 20%;
}


